# ==========================================
# VELORA CRM - ENVIRONMENT CONFIGURATION
# ==========================================

# Storage Configuration
STORAGE_TYPE=local

# ------------------------------------------
# BREVO EMAIL SERVICE CONFIGURATION
# ------------------------------------------
# Used across Auth-Service (OTPs), HR-Service (Payslips), and Notification-Service
BREVO_API_KEY=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
SENDER_EMAIL=yukesh785.in@gmail.com

# ------------------------------------------
# RABBITMQ QUEUE SERVICE CONFIGURATION
# ------------------------------------------
RABBITMQ_URL=amqps://elpjrbrk:QuEAEsk4nBDwiwedCCREQXuqznCklo_q@puffin.rmq2.cloudamqp.com/elpjrbrk

# ------------------------------------------
# REDIS CACHE & RATE LIMITING CONFIGURATION
# ------------------------------------------
REDIS_URL=redis://default:gQAAAAAAApYXAAIgcDJjNzVkZjY2MzJiMzM0OGZhYjIyYmFkNTk5NjYzZDk1NQ@careful-hippo-169495.upstash.io:6379


# ------------------------------------------
# DATABASE & AUTHENTICATION
# ------------------------------------------
MONGO_URI=mongodb+srv://admin:yukesh1234@yukesh.uatsv2e.mongodb.net/companycrm?appName=Yukesh
JWT_SECRET=supersecretkey123

# Initial Production Admin Credentials (Used on first boot auto-provisioning)
DEFAULT_ADMIN_EMAIL=admin@company.com
DEFAULT_ADMIN_PASSWORD=Admin@123456

