# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
**/.env
*.env
.env.*
!.env.example


# Logs & Uploads
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
error.log
uploads/
**/uploads/


# Editor
.vscode/
.idea/

# Docker
docker-compose.override.yml
